<%
function arrayToString(array) {
  return "[" + array.map(item => `'${item}'`).join(",") + "]";
}


function yieldAffiliationHtml(affiliation) {
  var resultStr = "";
  var lineIndex = 0;

  if (affiliation.ja || affiliation.en) {
    resultStr += "<li>";

    while (lineIndex < affiliation.ja.length || lineIndex < affiliation.en.length) {
      var jaText = lineIndex < affiliation.ja.length ? arrayToString(affiliation.ja[lineIndex]) : "";
      var enText = lineIndex < affiliation.en.length ? arrayToString(affiliation.en[lineIndex]) : "";

      resultStr += `<p data-ja-text="${jaText}" data-en-text="${enText}">${jaText}</p>`;
      lineIndex += 1;
    }

    resultStr += "</li>";
  }
  return resultStr;
}

function yieldAuthorList(publication) {
    var resultStr = "";
    publication.author.forEach(function (atr, index, array) {
        if (atr === name.ja) {
            resultStr += `<span class="author_me">${atr}</span>`;
        } else {
            resultStr += atr;
        }

        if (index !== array.length - 1) {
            resultStr += "，";
        }
    });
    return resultStr;
}

function yieldConference(publication) {
    return arrayToString(publication.conference);
}

function yieldAwardsHtml(awards) {
    var resultStr = "";

    if (awards.length !== 0) {
        resultStr += "<dl>";

        awards.forEach(function(entry) {
            resultStr += `<dt data-ja-text="${arrayToString(entry.scene)}" data-en-text="${arrayToString(entry.scene)}">${arrayToString(entry.scene)}</dt>`;
            resultStr += `<dd data-ja-text="${entry.award}" data-en-text="${entry.award}">${entry.award}</dd>`;
        });

        resultStr += "</dl>";
    }
    return resultStr;
}

function yieldWorksHtml(works) {
    var resultStr = "";

    works.forEach(function(workTypeEntry) {
        resultStr += `<h3 data-ja-text="${workTypeEntry.type.ja}" data-en-text="${workTypeEntry.type.en}">${workTypeEntry.type.ja}</h3>`;

        if (workTypeEntry.entries && workTypeEntry.entries.length !== 0) {
            resultStr += "<dl>";

            workTypeEntry.entries.forEach(function(workEntry) {
                resultStr += `<dt data-ja-text="${workEntry.title}" data-en-text="${workEntry.title}">${workEntry.title}</dt>`;
                resultStr += `<dd data-ja-text="${arrayToString(workEntry.detail)}" data-en-text="${arrayToString(workEntry.detail)}">${arrayToString(workEntry.detail)}</dd>`;
            });

            resultStr += "</dl>";
        }
    });

    return resultStr;
}
%>

<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= name.ja %> - <%= name.en %></title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&amp;subset=japanese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/uikit.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
<header>
    <div id="switch-wrapper">
        <span class="switch-label">Language</span>
        <div id="language-control" class="segmented-control">
            <button data-lang="ja" class="uk-button button-active uk-button-small">Japanese</button>
            <button data-lang="en" class="uk-button button-inactive uk-button-small">English</button>
        </div>
    </div>
    <span id="github-ribbon">
        <a href="https://github.com/inside-hakumai/labo.web-resume" target="_blank">Fork me on GitHub</a>
    </span>
</header>

<main class="uk-container uk-container-expand animated">

    <div id="branding-wrapper">
        <section id="title-wrapper" class="component-wrapper">
            <h1 data-ja-text="<%= name.ja %>" data-en-text="<%= name.en %>"><%= name.ja %></h1>
        </section>
        <div id="scroll-down"></div>
    </div>

    <div class="row double">
        <section id="affiliation" class="component-wrapper">
            <h2 data-ja-text="所属" data-en-text="Affiliation">所属</h2>
            <ul>
                <% affiliations.forEach(function(aff){ %>
                    <%- yieldAffiliationHtml(aff) %>
                <% }) %>
            </ul>
        </section>

        <section id="contact" class="component-wrapper">
            <h2 data-ja-text="連絡先" data-en-text="Contact">連絡先</h2>
            <ul>
                <li><p><%- arrayToString(contact.email) %></p></li> <!-- todo 連絡先の画像を挿入 -->
                <li class="github_link"><p><a href="https://github.com/inside-hakumai" target="_blank"><img src="./img/github.png" alt="GitHub"></a></p></li>
            </ul>
        </section>
    </div>

    <div class="row single">
        <section id="education" class="component-wrapper">
            <h2 data-ja-text="学歴" data-en-text="Education">学歴</h2>
            <dl>
                <% education.forEach(function(edu) { %>
                    <dt data-ja-text="<%= edu.period.ja %>" data-en-text="<%=edu.period.en %>"><%= edu.period.ja %></dt>
                    <dd data-ja-text="<%- arrayToString(edu.affiliation.ja) %>" data-en-text="<%- arrayToString(edu.affiliation.en) %>"><%- arrayToString(edu.affiliation.ja) %></dd>
                <% }) %>
            </dl>
        </section>
    </div>

    <div class="row single right">
        <section id="research" class="component-wrapper">
            <h2 data-ja-text="研究分野" data-en-text="Research Interests">研究分野</h2>
            <dl>
                <% researches.forEach(function(res) { %>
                    <dt data-ja-text="<%= res.title.ja %>" data-en-text="<%= res.title.en %>"><%= res.title.ja %></dt>
                    <dd data-ja-text="<%- arrayToString(res.detail.ja) %>" data-en-text="<%- arrayToString(res.detail.en) %>"><%- arrayToString(res.detail.ja) %></dd>
                <% }) %>
            </dl>
        </section>
    </div>

    <div class="row single">
        <section id="publication" class="component-wrapper">
            <h2 data-ja-text="研究業績" data-en-text="Publications">研究業績</h2>
            <h3 data-ja-text="国内会議発表" data-en-text="Domestic Conferences">国内会議発表</h3>
            <dl>
                <% publications.domestic.forEach(function(pub) { %>
                    <dt><%- arrayToString(pub.title) %></dt>
                    <%- pub.award ? `<p class="award"><span>${pub.award}</span></p>` : "" %>
                    <dd>
                        <p class="publication_author"><%- yieldAuthorList(pub) %></p>
                        <p class="publication_conference"><%- yieldConference(pub) %></p>
                    </dd>
                <% }) %>
            </dl>
        </section>
    </div>

    <div class="row single right">
        <section id="awards" class="component-wrapper">
            <h2 data-ja-text="表彰等" data-en-text="Awards">表彰等</h2>
            <%- yieldAwardsHtml(awards) %>
        </section>
    </div>

    <div class="row single">
        <section id="works" class="component-wrapper">
            <h2 data-ja-text="職歴" data-en-text="Work Experiences">職歴</h2>
            <%- yieldWorksHtml(works) %>
        </section>
    </div>

</main>

<footer>
    <div id="grid">
        <div class="grid-horizontal"></div>
        <div class="grid-vertical"></div>
    </div>
</footer>

<script src="js/bundle.js"></script>
</body>

</html>