<%
function yieldAuthorList(publication) {
    var resultStr = "";
    publication.author.forEach(function (atr, index, array) {
        if (atr === name.ja) {
            resultStr += `<span class="author_me">${atr}</span>`;
        } else {
            resultStr += atr;
        }

        if (index !== array.length - 1) {
            resultStr += "，";
        }
    });
    return resultStr;
}

function yieldConference(publication) {
    var resultStr = publication.conference;
    return resultStr;
}

function yieldAwardsHtml(awards) {
    var resultStr = "";

    if (awards.length !== 0) {
        resultStr += "<dl>";

        awards.forEach(function(entry) {
            resultStr += `<dt>${entry.scene}</dt>`;
            resultStr += `<dd>${entry.award}</dd>`;
        });

        resultStr += "</dl>";
    }
    return resultStr;
}

function yieldWorksHtml(works) {
    var resultStr = "";

    works.forEach(function(workTypeEntry) {
        resultStr += `<h3>${workTypeEntry.type.ja}</h3>`;

        if (workTypeEntry.entries && workTypeEntry.entries.length !== 0) {
            resultStr += "<dl>";

            workTypeEntry.entries.forEach(function(workEntry) {
                resultStr += `<dt>${workEntry.title}</dt>`;
                resultStr += `<dd>${workEntry.detail}</dd>`;
            });

            resultStr += "</dl>";
        }
    });

    return resultStr;
}
%>

<html>

<head>
    <title><%= name.ja %> - <%= name.en %></title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&amp;subset=japanese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/uikit.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
<header>
    <div id="switch-wrapper">

    </div>
</header>

<main class="uk-container uk-container-expand">
    
    <section id="title-wrapper" class="component-wrapper">
        <h1 data-ja-text="<%= name.ja %>"><%= name.ja %></h1>
    </section>

    <div class="row double">
        <section class="component-wrapper">
            <h2 data-ja-text="所属">所属</h2>
            <ul>
                <% affiliations.forEach(function(aff){ %>
                    <li><% aff.ja.forEach(function(text, index, array) { %>
                            <%- text + (index === array.length - 1 ? "" : "<br>") %>
                        <% }) %>
                    </li>
                <% }) %>
            </ul>
        </section>

        <section id="contact" class="component-wrapper">
            <h2 data-ja-text="連絡先">連絡先</h2>
            <ul>
                <li>＜ここに連絡先が入ります＞</li> <!-- todo 連絡先の画像を挿入 -->
                <li class="github_link"><a href="<%= contact.github %>" target="_blank"><img src="./images/github.png" alt="GitHub"></a></li>
            </ul>
        </section>
    </div>

    <div class="row single">
        <section class="component-wrapper">
            <h2 data-ja-text="学歴">学歴</h2>
            <ul>
                <% education.forEach(function(edu) { %>
                    <li><%= edu.period.ja %> <%= edu.affiliation.ja %></li>
                <% }) %>
            </ul>
        </section>
    </div>

    <div class="row single right">
        <section class="component-wrapper">
            <h2 data-ja-text="研究分野">研究分野</h2>
            <dl>
                <% researches.forEach(function(res) { %>
                    <dt><%= res.title.ja %></dt>
                    <dd><%= res.detail.ja %></dd>
                <% }) %>
            </dl>
        </section>
    </div>

    <div class="row single">
        <section id="publication" class="component-wrapper">
            <h2 data-ja-text="研究業績">研究業績</h2>
            <h3>国内会議発表</h3>
            <dl>
                <% publications.domestic.forEach(function(pub) { %>
                    <dt><%= pub.title %><%- pub.award ? `<span class="award">${pub.award}</span>` : "" %></dt>
                    <dd>
                        <p class="publication_author"><%- yieldAuthorList(pub) %></p>
                        <p class="publication_conference"><%- yieldConference(pub) %></p>
                    </dd>
                <% }) %>
            </dl>
        </section>
    </div>

    <div class="row single right">
        <section class="component-wrapper">
            <h2 data-ja-text="表彰等">表彰等</h2>
            <%- yieldAwardsHtml(awards) %>
        </section>
    </div>

    <div class="row single">
        <section class="component-wrapper">
            <h2 data-ja-text="職歴">職歴</h2>
            <%- yieldWorksHtml(works) %>
        </section>
    </div>

</main>

<footer>
    <div id="grid">
        <div class="grid-horizontal"></div>
        <div class="grid-vertical"></div>
    </div>
</footer>

<script src="js/bundle.js"></script>
</body>

</html>